* {
  box-sizing: border-box;
}

.containerV {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container h1 {
  font-weight: bold;
  font-size: 2em;
  color: #000000;
}

.containerV .card {
  cursor: pointer;
  border: 2px solid #4d94ff; /* Add border for a cleaner look */
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #f0fcc3 100%);
  border-radius: 15px;
  overflow: hidden;
  flex: 0 0 calc(25% - 20px);
  margin-bottom: 20px;
  transition: transform 0.5s, box-shadow 0.5s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.containerV .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.Vision {
  background-color: #d6e4ea;
  background-image: linear-gradient(19deg, #d6e4ea 0%, #DDD6F3 100%);
}

/* Add any additional styling as needed */
